<!DOCTYPE html>
<html>
  <head>
    <title>Form Results</title>
  </head>
  <body>
    <h1>Form Results</h1>
    <p>Project Title: <%= projectData.title %></p>
    <p>Project Description: <%= projectData.description %></p>
    <p>Project Description: <%= projectData.skills %></p>

    <a href="/">Home</a>
  </body>
</html>
